#top {
    background-color: violet;
    font-size: 48px;
    text-align: center;
}

#return {
    background-color: orange;
}

#back {
    background-color: blue;
    color: gold;
}

h2 {
    background-color: lightseagreen;
}